<div class="p-4 sm:ml-64 mt-16">

<%= form_with model: task do |form| %>
  <div class="flex justify-between items-center mb-4">
    <div class="flex gap-1">
      <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M8 3c0-.6.4-1 1-1h6c.6 0 1 .4 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-3 8c0-.6.4-1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2 1 1 0 1 0 0-2Zm2 5c0-.6.4-1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z" clip-rule="evenodd"/>
      </svg>
      <h1 class="text-xl font-semibold text-gray-600">
        Task
      </h1>
    </div>
    <div>
      <%= form.submit class: "p-2 text-gray-900 text-xs border border-gray-900 rounded-md cursor-pointer hover:bg-indigo-400 focus:outline-none focus:shadow-outline-blue active:bg-blue-800" %>
    </div>
  </div>
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
      <div class="w-full mx-auto bg-white  rounded-md ">

      <div class="mb-4 text-xs">
        <% if task.errors.any? %>
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-md mt-2">
            <ul class="list-disc ml-4">
              <% task.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

        <div>
          <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :title, class: "mt-1 p-3 w-full text-xs border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" %>
        </div>

        <div class="flex gap-2">
          <div class="mt-4">
            <%= form.label :due_date, class: "block text-sm font-medium text-gray-700" %>
            <%= form.date_field :due_date, class: "mt-1 p-3 text-xs w-full border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" %>
          </div>

          <div class="mt-4">
            <%= form.label :category_id, class: "block text-sm font-medium text-gray-700" %>
            <%= form.select :category_id, 
              options_for_select(current_user.categories.map { |c| [c.name.capitalize, c.id] }, 
              @task.category_id), { prompt: 'Select a Category' }, 
              class: "mt-1 p-3 text-xs w-full border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" %>
          </div>
        </div>

        <div class="mt-4">
          <%= form.label 'Description', class: "block text-sm font-medium text-gray-700" %>
          <div class="bg-gray-100 rounded-md p-4">
            <%= form.rich_text_area :content, 
                class: "block p-2.5 w-full min-h-96 text-xs text-gray-900 bg-white rounded-lg border border-gray-300 
                        focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 
                        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          </div>
        </div>

        <div class="mt-4 flex items-center">
          <%= form.label :completed, class: "text-sm font-medium text-gray-700 mr-2" %>
          <%= form.check_box :completed, class: "mt-1 p-2 rounded-md" %>
        </div>

        <div class="mt-6 w-full text-right">
          <%= form.submit class: "py-3 px-6 text-gray-900 text-xs border border-gray-900 rounded-md cursor-pointer hover:bg-indigo-400 focus:outline-none focus:shadow-outline-blue active:bg-blue-800" %>
        </div>
      </div>
  </div>
<% end %>
</div>
