<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-semibold mb-6">My Tasks</h1>

  <!-- New Task button -->
  <div class="flex justify-end mb-6">
    <%= link_to "New Task", new_task_path, class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700" %>
  </div>

  <table class="w-full">
    <thead class="p-4 bg-gray-200">
      <tr class="p-4 border rounded-md">
        <td class="w-1/2 text-gray-500 font-semibold">Task Name</td>
        <td class="w-1/6 text-gray-500 font-semibold">Due Date</td>
        <td class="w-1/6 text-gray-500 font-semibold">Category</td>
        <td class="w-1/6 text-gray-500 font-semibold">Completed</td>
      </tr>
    </thead>
    <tbody>

      <div data-controller="reveal" data-reveal-hidden-class="d-none" id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
        <h2 id="accordion-flush-heading-1">
          <button data-action="click->reveal#toggle" type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
            <span>Tasks Due Today</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div data-reveal-target="item"  id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
          <div class="py-5 border-b border-gray-200 dark:border-gray-700">
            <%= render partial: 'task', collection: @tasks_today %>
          </div>
        </div>
      </div>

      <!-- Display tasks for today -->
      <%
=begin%>
 <tr data-action="click->reveal#toggle">
        <td colspan="4" class="p-4 text-lg font-semibold mb-4 border-b pb-2">Tasks Due Today</td>
      </tr>
      <div data-reveal-target="item" class="d-none mt-4">
        <%= render partial: 'task', collection: @tasks_today %>
      </div> 
<%
=end%>
      <!-- Display completed tasks -->
      <%
=begin%>
 <tr>
        <td colspan="4" class="p-4 text-lg font-semibold mb-4 border-b pb-2">Completed Tasks</td>
      </tr>
      <%= render partial: 'task', collection: @completed_tasks %>

      <!-- Display the rest of the tasks -->
      <tr>
        <td colspan="4" class="p-4 text-lg font-semibold mb-4 border-b pb-2">All Tasks</td>
      </tr>
      <%= render partial: 'task', collection: @tasks %> 
<%
=end%>
    </tbody>
  </table>
</div>
