<div class="max-w-md mx-auto p-5 mt-14 rounded-md bg-gradient-to-l from-indigo-500 to-red-500 hover:bg-gradient-to-r">
  <h2 class="text-2xl font-semibold mt-6 mb-6 text-center text-white">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mb-8" }) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block text-sm font-medium text-white" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-sm font-medium text-white" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 p-3 w-full border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4">
        <%= f.check_box :remember_me, class: "mr-2 rounded-md" %>
        <%= f.label :remember_me, class: "text-sm text-white" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= f.submit "Log in", class: "py-3 px-6 bg-gray-700 text-white rounded-md cursor-pointer hover:bg-indigo-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800" %>
    </div>
  <% end %>

  <div class="flex items-center justify-center gap-1">
    <%= render "devise/shared/links" %>
  </div>
</div>
