<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans bg-gray-100 flex flex-col">

    <div id="flash">
      <%= render "shared/toast" %>
    </div>

    <div class=" fixed right-4 bottom-1 max-h-screen-sm bg-white z-50 overflow-y">
      <%= turbo_frame_tag "data_task_frame" %>
    </div>

    <div class="flex-grow flex">
      <% if current_user %>
        <%= render 'shared/nav' %>
      <% else %>
        <%= render 'home/no_user_index' %>
      <% end %>

      <div id="mainContent" class=" bg-white min-h-screen flex-grow ">
        <%= yield %>
      </div>
    </div>

    <% if current_user %>
      <%= render 'shared/footer' %>
    <% end %>

</body>
</html>
