<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans bg-gray-100 flex flex-col min-h-screen">

    <%= render "shared/toast" %>
    
    <div class="flex-grow flex">
      <% if current_user %>
        <%= render 'shared/nav' %>
      <% end %>

      <div id="mainContent" class="bg-white flex-grow ">
        <%= yield %>
      </div>
    </div>

    <% if current_user %>
      <%= render 'shared/footer' %>
    <% end %>

</body>
</html>
